cloudflare_api_token  = "your-cloudflare-api-token"
cloudflare_account_id = "c49b6c6407adb48905eb6f932cd4e972"
tunnel_id             = "bc630e77-867f-4716-a1d0-8721bf9880da"

ingress_rules = {
  "rss" = { service = "http://traefik.kube-system.svc:80" }
}
