apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-tunnel-token
  namespace: cloudflare
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: cloudflare-tunnel-token
    creationPolicy: Owner
  data:
  - secretKey: token
    remoteRef:
      key: secret/homelab/cloudflare
      property: token
