---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: it-tools
  namespace: personal-services
  labels:
    app: it-tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: it-tools
  template:
    metadata:
      labels:
        app: it-tools
    spec:
      containers:
        - name: it-tools
          image: ghcr.io/meirongdev/it-tools:sha-3192b54
          ports:
            - containerPort: 80
              name: http
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: it-tools
  namespace: personal-services
spec:
  type: ClusterIP
  selector:
    app: it-tools
  ports:
    - port: 80
      targetPort: 80
      name: http
