- name: Fetch Oracle K3s kubeconfig to local machine
  hosts: oracle_masters
  become: true
  tasks:
    - name: Read K3s kubeconfig from master
      ansible.builtin.slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: kubeconfig_raw

    - name: Parse kubeconfig
      ansible.builtin.set_fact:
        kubeconfig_data: "{{ kubeconfig_raw.content | b64decode | from_yaml }}"
      delegate_to: localhost
      become: false

    - name: Create temporary directory for certificates
      ansible.builtin.tempfile:
        state: directory
        suffix: oracle-k3s-certs
      register: temp_cert_dir
      delegate_to: localhost
      become: false

    - name: Write CA certificate
      ansible.builtin.copy:
        content: "{{ kubeconfig_data.clusters[0].cluster['certificate-authority-data'] | b64decode }}"
        dest: "{{ temp_cert_dir.path }}/ca.crt"
        mode: '0600'
      delegate_to: localhost
      become: false

    - name: Write client certificate
      ansible.builtin.copy:
        content: "{{ kubeconfig_data.users[0].user['client-certificate-data'] | b64decode }}"
        dest: "{{ temp_cert_dir.path }}/client.crt"
        mode: '0600'
      delegate_to: localhost
      become: false

    - name: Write client key
      ansible.builtin.copy:
        content: "{{ kubeconfig_data.users[0].user['client-key-data'] | b64decode }}"
        dest: "{{ temp_cert_dir.path }}/client.key"
        mode: '0600'
      delegate_to: localhost
      become: false

    - name: Set cluster configuration
      ansible.builtin.shell: |
        kubectl config set-cluster oracle-k3s \
          --server=https://{{ ansible_host }}:6443 \
          --certificate-authority={{ temp_cert_dir.path }}/ca.crt \
          --embed-certs=true
      delegate_to: localhost
      become: false
      changed_when: true

    - name: Set user credentials
      ansible.builtin.shell: |
        kubectl config set-credentials oracle-k3s-admin \
          --client-certificate={{ temp_cert_dir.path }}/client.crt \
          --client-key={{ temp_cert_dir.path }}/client.key \
          --embed-certs=true
      delegate_to: localhost
      become: false
      changed_when: true

    - name: Set context
      ansible.builtin.shell: |
        kubectl config set-context oracle-k3s \
          --cluster=oracle-k3s \
          --user=oracle-k3s-admin
      delegate_to: localhost
      become: false
      changed_when: true

    - name: Clean up temporary certificate files
      ansible.builtin.file:
        path: "{{ temp_cert_dir.path }}"
        state: absent
      delegate_to: localhost
      become: false

    - name: Display instructions
      ansible.builtin.debug:
        msg: |
          Kubeconfig merged into ~/.kube/config

          Cluster:  oracle-k3s
          Context:  oracle-k3s
          User:     oracle-k3s-admin
          Server:   https://{{ ansible_host }}:6443

          To use:
            kubectl config use-context oracle-k3s
            kubectl get nodes
