- name: Uninstall K3s
  hosts: k8s_masters
  become: true
  tasks:
    - name: Check if K3s server uninstall script exists
      ansible.builtin.stat:
        path: /usr/local/bin/k3s-uninstall.sh
      register: k3s_server_uninstall

    - name: Run K3s server uninstall script
      ansible.builtin.command: /usr/local/bin/k3s-uninstall.sh
      when: k3s_server_uninstall.stat.exists
      changed_when: true