apiVersion: apps/v1
kind: Deployment
metadata:
  name: it-tools
  namespace: personal-services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: it-tools
  template:
    metadata:
      labels:
        app: it-tools
    spec:
      containers:
        - name: it-tools
          image: ghcr.io/meirongdev/it-tools:sha-749c71f
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 20m
              memory: 32Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: it-tools
  namespace: personal-services
spec:
  selector:
    app: it-tools
  ports:
    - port: 80
      targetPort: 80
---
# HTTPRoute: tool.meirong.dev -> it-tools
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: it-tools
  namespace: personal-services
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: oracle-gateway
      namespace: kube-system
      port: 8000
  hostnames:
    - "tool.meirong.dev"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: sso-forwardauth
      backendRefs:
        - group: ""
          kind: Service
          name: it-tools
          port: 80
          weight: 1
