apiVersion: v1
kind: Service
metadata:
  name: it-tools
  namespace: personal-services
spec:
  type: ClusterIP
  selector:
    app: it-tools
  ports:
    - port: 80
      targetPort: 80
      name: http
